################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Blog/bin/Debug/netcoreapp3.1
/.vs/Blog
